<div class="relative">
    <div id="contributors-form-modal" class="contributors-form-modal hidden absolute inset-x-1/4 w-fit mx-auto p-8 text-slate-700 dark:text-slate-200 bg-state-300 dark:bg-slate-700">
        {{ form(contributorsForm) }}
    </div>
</div>
