{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message|raw }}</div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-error" role="alert">{{ message|raw }}</div>
{% endfor %}
